/*
   Gateway Brewery Style Sheet
   
   Author:           Emiley Weese & Daniel Ritter
   Date:             July 27, 2021
   Filename:         custyles.css
   Supporting Files: None

*/
/* online form styles */
div h1 {
   font-size: 3em;
   font-weight: bolder;
   margin: 0.5em 0.1em;
}
div .contactinfo {
   margin: 2em 15em 3em;
   padding: 10px;
   border: none;
}
textarea {
   resize: none;
}
.additionalinfo {
   margin-top: 2em;
   border: none;
}
div .submitbutton {
   border: none;
   margin: 2em auto 3em;
}
input[type=submit] {
   margin-right: 1em;
   font-size: 1.2em;
   width: 5em;
   height: 2em;
}
input[type=reset] {
   margin-left: 1em;
   font-size: 1.2em;
   width: 5em;
   height: 2em;
}
.feedback {
   margin: 1em;
   display: block;
}
.feedback-preview {
   text-align: left;
   border: 2px solid grey;
   margin: 2em 40em 2em;
   padding: 3em;
   background-color: #ffffff;
}
.table-cell {
   padding: 0.5em;
}
