/*
   Gateway Brewery Style Sheet
   
   Author:           Emiley Weese & Daniel Ritter
   Date:             July 27, 2021
   Filename:         custyles.css
   Supporting Files: None

*/
/* online form styles */
h1 {
   font-size: 3em;
   font-weight: bolder;
   margin: 0.5em 0.1em;
}
h2 {
   font-size: 3em;
   font-weight: bolder; 
   margin: 0.5em 0.1em;
}
.name {
   display: block;
   margin: 3em 5em 1em;
   padding: 20px;
   border: none;
}
.contactinfo {
   margin-top: 1em;
   border: none;
}
textarea {
   resize: none;
}
.additionalinfo {
   margin-top: 1em;
   border: none;
}
.submitbutton {
   border: none;
   margin: 2em auto 3em;
}
input[type=submit] {
   margin-right: 1em;
   font-size: 1.2em;
   width: 5em;
   height: 2em;
}
input[type=reset] {
   margin-left: 1em;
   font-size: 1.2em;
   width: 5em;
   height: 2em;
}
.feedback {
   margin: 0.5em;
   display: block;
}
.table-cell {
   padding: 0.5em;
}
