/*
   Gateway Brewery Style Sheet
   
   Author:           Emiley Weese & Daniel Ritter
   Date:             July 27, 2021
   Filename:         orstyles.css
   Supporting Files: None

*/
/* online form styles */
div h2 {
   font-size: 3em;
   font-weight: bolder;
   margin: 0.5em 0.1em;
}
div p {
   font-size: 2em;
   font-weight: normal;
   margin: 1em;
}